page {
  background-color: #f6f6f7;
}

.share {
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 24rpx;
    box-shadow: none;
    color: #8a8a8a;
    line-height: 40rpx;

    &::after {
      border: none;
    }
  }
}

.page-title {
  color: #fff;
}

.safe-bottom {
  padding-bottom: calc(24rpx + env(safe-area-inset-bottom));
  padding-bottom: calc(24rpx + constant(safe-area-inset-bottom));
}